.btn{
    text-decoration: none;
    background-color: #ff5959;
    color: white;
    padding: 12px 40px;
    margin: 90px 5px;
border-radius: 5px;
margin-left: -3px;
    }
.hero{
    display: flex;
    margin-top: 100px;
}
.hero1{
    width: 50%;
    
    
}
.hero2{
    width: 50%;
    margin-left: 15%;
}
.hero2 img{
    width: 90%;
}
h1{
    font-size: 50px;
}
.left-border{
    padding-left: 15px;
    position: relative;
   
}
.left-border ::before{
    content: "";
    height: 80%;
    width: 4px;
    background: tomato;
    position: absolute;
    top: 13px;
    left: 0;
    border-radius: 30%;
}
.orange{
    color: #ffad5a;
    margin-top: -35px;
    
}
section{
    margin-left: 10%;
    margin-right: 10%;
}
p{
    color: gray;
    font-size: 18px;
    padding: 10px 0;
}


.center{
    text-align: center;
}
.flex{
    display: flex;
}
.img{
    width: 40%;
}
.mission1{
background-color: #eef6f7;
margin-right: 25px;
border-radius: 30px;
padding: 20px 30px;
}
.mission2{
    background-color: #ffefef;
    margin-right: 25px;
    border-radius: 30px;
    padding: 20px 30px;
}
.mission3{
    background-color: #fff4d6;
   
    border-radius: 30px;
    padding: 20px 30px;
}
.develop1{
    width: 40%;
    margin-left: 5%;
}
.develop2{
    width: 60%;

}
.develop1 img{
width: 85%;
}
.develop{
    margin-top: 90px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 20%;
}
.global{
    margin-top: 90px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20%;
}
.global1{
    width: 60%;
}
.global2{
    width: 40%;
    margin-left: 5%;
}
.global2 img{
    width: 85%;
}
.footer{
    background-color: #0b0d17;
    padding: 20px 0;
    margin-top: 50px;
}
.red{
    color: #ff5959;
}
.white{
    text-align: center;
    color: white;
    
}
.footer-p{
    font-weight: 100;
    font-size: 12px;
    margin-top: -30px;
}





.about-me{

}
.about-parent{
    display: flex;
}
.about-left img{
    width: 60%;
}

.top-row{
    display: flex;
}
.bottom-row{
    display: flex;
    border-top: solid 1px #9de9f0;
}

.bottom-row img{
width: 100%;
float: right;
margin-top: 7%;
}
.top-row img{
    width: 90%;
    margin-top: 12%;
    
}
.left-left{
    margin-top: 30px;
    margin-left: 50px;
}
.about-left{
    width: 50%;
    
}
.about-right{
    width: 50%;
    position: relative;

}
.about-right ::after{
    content: "";
    height: 100%;
    width: 1px;
    background: #9de9f0;
    position: absolute;
    top: 0;
    left: 50%;
}
.for-wdith{
    width: 100%;
}
.formargin{
    width: 100%;
}
.margin-right{
    width: 100%;
    margin-left: 8%;
}
.margin-left{
    width: 100%;
}

.white{
    font-family: 'Lobster Two', cursive;
}
.mango{
    font-family: 'Spline Sans', sans-serif;
}
.orange{
    font-family: 'Lobster Two', cursive;
}
p{
    color: gray;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}
.center{
    font-family: Arial, Helvetica, sans-serif;
}
.develop2 h2{
    font-family: 'Spline Sans', sans-serif;
    font-size: 28px;
}
.global1 h2{
    font-family: 'Spline Sans', sans-serif;
    font-size: 28px;
}
.me{
    font-size: 26px;
    color: #ffad5a;
    font-family: 'Lobster Two', cursive;
}
.tango{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.pango{
margin-top: 80px;
padding-bottom: 50px;
}
.btn3{
    margin-top: 20px;
}

